@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
// 	font-family: 'Roboto Mono';
// 	src: url(/fonts/RobotoMono-Medium.woff2) format('woff2'), url(/fonts/RobotoMono-Medium.woff) format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Circular Std';
// 	src: url(/fonts/CircularStd-Medium.woff2) format('woff2'), url(/fonts/CircularStd-Medium.woff) format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// }
@font-face {
    font-family: 'RetniSans';
    src: url(/fonts/RetniSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
.bg-sidebar-hover {
    background-color: rgba(180, 68, 249, 0.15);
}
button.sidebar {
    padding-left: 100px;
}
.sidebar.active {
    background-color: #B444F9 !important;
    color: #FEFEFF !important;
}

.img-network {
    width: 36px;
    height: 36px;
}

.img-ethereum {
    background-image: url(/svgs/ethereum.svg);
}

.sidebar-icon {
    height: 51px;
    width: 100%;
    display: flex;
}

.bg-wallet-output {
    background-image: url(/sidebar/wallet_output.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.fade-left{
    background: linear-gradient(to right, #F6F8FC, #F6F8FC00);
    border-radius: 14px;
    z-index:2;
    width: 15%;
    height:100%;
    left:40px;
}
.fade-right{
    background: linear-gradient(to left, #F6F8FC, #F6F8FC00);
    border-radius: 14px;
    z-index:2;
    width: 15%;
    height:100%;
    right:40px;
}
.slide{
    background: #F6F8FC;
    border-radius: 14px;
    z-index:2;
    width: 100%;
}

.fw-60{
    width:60%;
}

.user-input {
    height: 50px;
    width: 50%;
    background-color: #F6F8FC;
    border: 2px solid #E9ECEF;
    &:focus{
        outline: none;
        border: 2px solid #dbdbdb;
    }
}
.user-textarea {
    height: 75px;
    width: 100%;
    background-color: #F6F8FC;
    border: 2px solid #E9ECEF;
    &:focus{
        outline: none;
        border: 2px solid #dbdbdb;
    }
}

.border-image img{
    border-radius: 10px;
    border:2px #B444F9 solid !important;
}

.web3modal-modal-lightbox{
    z-index:100 !important;
}

[type='checkbox']:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-offset-width: 0px;
}

.nft-image-container {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }

  img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: contain; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
  }
  .nft-image {
    border-radius: 6px;

    &:hover {
        background: radial-gradient(50% 50% at 50% 50%, rgba(254, 254, 255, 0.25) 0%, rgba(254, 254, 255, 0.1) 100%);
        backdrop-filter: blur(2px);
    }
  }
}

.collection-nft-image-item {
    background: radial-gradient(50% 50% at 50% 50%, rgba(254, 254, 255, 0.25) 0%, rgba(254, 254, 255, 0.1) 100%);
    backdrop-filter: blur(2px);
    border-radius: 6px;
}

.banner-slider {
    border-radius: 10px;
}