.sidemenu {
    background-color: #F6F8FC;
    padding-left: 10px;
    ul {
        li {
            line-height: 60px;

            button {
                color: #ADB5BD;
                text-decoration: none;
                font-size: 18px;
                padding-left: 0px;
                font-weight: 500;
                width: 100%;
                border-right: 4px solid transparent;
                outline: none;
                svg {
                    fill: #ADB5BD;
                }
            }
        }

        .current {
            button {
                color: #1E1C21;
                border-right-color: #B444F9;
            }

            svg {
                fill: #1E1C21;
            }
        }
    }
}
.tokenOption{
    display: flex;
    background: #F6F8FC;
    border-radius: 8px;
    // padding-right: 32px;
    // padding-left: 32px;
    // margin: 32px 0px;
    width: 100%;
    max-width: 180px;
    select{
        outline: none;
        border: none;
        // font-family: 'Circular Std';
        background: transparent;
        font-size: 16px;
        color: #ADB5BD;
        font-weight: 500;
        border-radius: 8px;
        width: 100%;
    }
   
    select option{
        color: #ADB5BD;
    }
    &:checked {
        border: 2px;
    }

    .chainIcon {
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        margin-top: auto;
        width: 30%;
    }
}

.etherspan {
    position: relative;
    input {
        padding-right: 40px;
        background: #F6F8FC;
        border: 2px solid #ADB5BD;
        border-radius: 4px;
    }
    &::after {
        position: absolute;
        top: 0;
        content: "ETH";
        right: 5px;
        // font-family: 'Circular Std';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: #ADB5BD;
    }
}